# Data Staging for GDP Data

## Importing Libraries and Reading the Data

In [198]:
import pandas as pd
import numpy as np

In [199]:
df = pd.read_csv('data/raw_gdp.csv')

## Previewing the Dataset

In [200]:
df.head()

,REF_DATE,GEO,DGUID,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1997,Canada,2016A000011124,All industries [T001],Dollars,81,millions,6,v64605602,1.1,840500,NaN,NaN,NaN,0
1,1997,Canada,2016A000011124,Goods-producing industries [T002],Dollars,81,millions,6,v64605713,1.2,269364,NaN,NaN,NaN,0
2,1997,Canada,2016A000011124,Service-producing industries [T003],Dollars,81,millions,6,v64605824,1.3,571136,NaN,NaN,NaN,0
3,1997,Canada,2016A000011124,Industrial production [T010],Dollars,81,millions,6,v64605841,1.4,205651,NaN,NaN,NaN,0
4,1997,Canada,2016A000011124,Non-durable manufacturing industries [T011],Dollars,81,millions,6,v64605852,1.5,60046,NaN,NaN,NaN,0

## Unique Values in Each Column

In [201]:
unique_values = df[['GEO', 'DGUID', 'UOM', 'UOM_ID','SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR' , 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']].apply(lambda x: x.unique())
unique_values

GEO                                                       [Canada]
DGUID                                             [2016A000011124]
UOM                                                      [Dollars]
UOM_ID                                                        [81]
SCALAR_FACTOR                                           [millions]
SCALAR_ID                                                      [6]
VECTOR           [v64605602, v64605713, v64605824, v64605841, v...
COORDINATE       [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, ...
VALUE            [840500, 269364, 571136, 205651, 60046, 85467,...
STATUS                                                       [nan]
SYMBOL                                                       [nan]
TERMINATED                                                   [nan]
DECIMALS                                                       [0]
dtype: object

## Dropping Unnecessary Columns

In [202]:
df = df.drop(columns=['GEO', 'DGUID', 'UOM', 'UOM_ID', 'SCALAR_FACTOR',  'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS', 'SYMBOL', 'SYMBOL', 'TERMINATED', 'DECIMALS'])

## Update value using the scalar factor (millions)

In [203]:
df['VALUE'] = df['VALUE'].apply(lambda x: x*1000000)

In [204]:
df.head()

,REF_DATE,North American Industry Classification System (NAICS),VALUE
0,1997,All industries [T001],840500000000
1,1997,Goods-producing industries [T002],269364000000
2,1997,Service-producing industries [T003],571136000000
3,1997,Industrial production [T010],205651000000
4,1997,Non-durable manufacturing industries [T011],60046000000

## Examining Data Types

In [205]:
df.dtypes

REF_DATE                                                  int64
North American Industry Classification System (NAICS)    object
VALUE                                                     int64
dtype: object

## Renaming Columns for Clarity and Simplicity

In [206]:
df = df.rename(columns={'REF_DATE': 'Date', 'North American Industry Classification System (NAICS)': 'NAICS', 'VALUE': 'Value'})

In [207]:
df.head()

   Date                                        NAICS         Value
0  1997                        All industries [T001]  840500000000
1  1997            Goods-producing industries [T002]  269364000000
2  1997          Service-producing industries [T003]  571136000000
3  1997                 Industrial production [T010]  205651000000
4  1997  Non-durable manufacturing industries [T011]   60046000000

## Checking for Missing Values

In [208]:
df['Date'].isnull().unique()

array([False])

In [209]:
df['NAICS'].isnull().unique()

array([False])

In [210]:
df['Value'].isnull().unique()

array([False])

## Filtering Date to Start from 2000

In [211]:
df = df[df['Date'] >= 2000]

In [212]:
df.head()

      Date                                        NAICS          Value
1008  2000                        All industries [T001]  1027444000000
1009  2000            Goods-producing industries [T002]   347862000000
1010  2000          Service-producing industries [T003]   679582000000
1011  2000                 Industrial production [T010]   275215000000
1012  2000  Non-durable manufacturing industries [T011]    72315000000

## Reset indeces

In [213]:
df.reset_index(drop=True, inplace=True)

In [214]:
df

      Date                                              NAICS          Value
0     2000                              All industries [T001]  1027444000000
1     2000                  Goods-producing industries [T002]   347862000000
2     2000                Service-producing industries [T003]   679582000000
3     2000                       Industrial production [T010]   275215000000
4     2000        Non-durable manufacturing industries [T011]    72315000000
...    ...                                                ...            ...
7054  2020  Federal government public administration (exce...    42564000000
7055  2020  Provincial and territorial public administrati...    40664000000
7056  2020  Local, municipal, regional and aboriginal publ...    60291000000
7057  2020  Local, municipal and regional public administr...    54541000000
7058  2020             Aboriginal public administration [914]     5750000000

[7059 rows x 3 columns]

## Check if NAICS are all possible sectors

In [215]:
len(df['NAICS'].unique())

337

In [216]:
unique_NAICS = df['NAICS'].unique()

In [217]:
unique_NAICS

array(['All industries [T001]', 'Goods-producing industries [T002]',
       'Service-producing industries [T003]',
       'Industrial production [T010]',
       'Non-durable manufacturing industries [T011]',
       'Durable manufacturing industries [T012]',
       'Information and communication technology sector [T013]',
       'Information and communication technology, manufacturing [T014]',
       'Information and communication technology, services [T015]',
       'Energy sector [T016]', 'Public sector [T018]',
       'All industries (except cannabis sector) [T020]',
       'Cannabis sector [T021]', 'Cannabis sector (licensed) [T022]',
       'Cannabis sector (unlicensed) [T023]',
       'All industries (except unlicensed cannabis sector) [T024]',
       'Agriculture, forestry, fishing and hunting [11]',
       'Crop and animal production [11A]', 'Crop production [111]',
       'Crop production (except cannabis) [111X]',
       'Greenhouse, nursery and floriculture production (except cannabis) [1114A]',
       'Crop production (except cannabis, greenhouse, nursery and floriculture production) [111A]',
       'Cannabis production [111C]',
       'Cannabis production (licensed) [111CL]',
       'Cannabis production (unlicensed) [111CU]',
       'Crop production (except unlicensed cannabis) [111Y]',
       'Animal production and aquaculture [112]', 'Aquaculture [1125]',
       'Animal production (except aquaculture) [112A]',
       'Forestry and logging [113]',
       'Fishing, hunting and trapping [114]',
       'Support activities for agriculture and forestry [115]',
       'Support activities for forestry [1153]',
       'Support activities for crop and animal production [115A]',
       'Mining, quarrying, and oil and gas extraction [21]',
       'Oil and gas extraction [211]',
       'Oil and gas extraction (except oil sands) [21111]',
       'Oil sands extraction [21114]',
       'Mining and quarrying (except oil and gas) [212]',
       'Coal mining [2121]', 'Metal ore mining [2122]',
       'Iron ore mining [21221]', 'Gold and silver ore mining [21222]',
       'Copper, nickel, lead and zinc ore mining [21223]',
       'Other metal ore mining [21229]',
       'Non-metallic mineral mining and quarrying [2123]',
       'Stone mining and quarrying [21231]',
       'Sand, gravel, clay, and ceramic and refractory minerals mining and quarrying [21232]',
       'Other non-metallic mineral mining and quarrying [21239]',
       'Diamond mining [212392]', 'Potash mining [212396]',
       'Other non-metallic mineral mining and quarrying (except diamond and potash) [21239A]',
       'Support activities for mining, and oil and gas extraction [213]',
       'Support activities for oil and gas extraction [21311A]',
       'Support activities for mining [21311B]', 'Utilities [22]',
       'Electric power generation, transmission and distribution [2211]',
       'Natural gas distribution, water, sewage and other systems [221A]',
       'Natural gas distribution [2212]',
       'Water, sewage and other systems [2213]', 'Construction [23]',
       'Residential building construction [23A]',
       'Non-residential building construction [23B]',
       'Engineering and other construction activities [23X]',
       'Engineering construction [23C]',
       'Transportation engineering construction [23C1]',
       'Oil and gas engineering construction [23C2]',
       'Electric power engineering construction [23C3]',
       'Communication engineering construction [23C4]',
       'Other engineering construction [23C5]',
       'Other activities of the construction industry [23E]',
       'Repair construction [23D]', 'Manufacturing [31-33]',
       'Food manufacturing [311]', 'Animal food manufacturing [3111]',
       'Sugar and confectionery product manufacturing [3113]',
       'Fruit and vegetable preserving and specialty food manufacturing [3114]',
       'Dairy product manufacturing [3115]',
       'Meat product manufacturing [3116]',
       'Seafood product preparation and packaging [3117]',
       'Miscellaneous food manufacturing [311A]',
       'Grain and oilseed milling [3112]',
       'Bakeries and tortilla manufacturing [3118]',
       'Other food manufacturing [3119]',
       'Beverage and tobacco product manufacturing [312]',
       'Soft drink and ice manufacturing [31211]', 'Breweries [31212]',
       'Wineries and distilleries [3121A]',
       'Tobacco manufacturing [3122]',
       'Textile and textile product mills [31A]',
       'Clothing and leather and allied product manufacturing [31B]',
       'Wood product manufacturing [321]',
       'Sawmills and wood preservation [3211]',
       'Veneer, plywood and engineered wood product manufacturing [3212]',
       'Other wood product manufacturing [3219]',
       'Paper manufacturing [322]',
       'Pulp, paper and paperboard mills [3221]',
       'Converted paper product manufacturing [3222]',
       'Printing and related support activities [323]',
       'Petroleum and coal product manufacturing [324]',
       'Petroleum refineries [32411]',
       'Petroleum and coal product manufacturing (except petroleum refineries) [3241A]',
       'Chemical manufacturing [325]',
       'Basic chemical manufacturing [3251]',
       'Resin, synthetic rubber, and artificial and synthetic fibres and filaments manufacturing [3252]',
       'Pesticide, fertilizer and other agricultural chemical manufacturing [3253]',
       'Pharmaceutical and medicine manufacturing [3254]',
       'Miscellaneous chemical product manufacturing [325A]',
       'Paint, coating and adhesive manufacturing [3255]',
       'Soap, cleaning compound and toilet preparation manufacturing [3256]',
       'Other chemical product manufacturing [3259]',
       'Resin, synthetic rubber and fibres, and paint manufacturing [325B]',
       'Plastics and rubber products manufacturing [326]',
       'Plastic product manufacturing [3261]',
       'Rubber product manufacturing [3262]',
       'Non-metallic mineral product manufacturing [327]',
       'Cement and concrete product manufacturing [3273]',
       'Non-metallic mineral product manufacturing (except cement and concrete products) [327A]',
       'Primary metal manufacturing [331]',
       'Iron and steel mills and ferro-alloy manufacturing [3311]',
       'Steel product manufacturing from purchased steel [3312]',
       'Alumina and aluminum production and processing [3313]',
       'Non-ferrous metal (except aluminum) production and processing [3314]',
       'Foundries [3315]', 'Fabricated metal product manufacturing [332]',
       'Forging and stamping [3321]',
       'Architectural and structural metals manufacturing [3323]',
       'Boiler, tank and shipping container manufacturing [3324]',
       'Hardware manufacturing [3325]',
       'Spring and wire product manufacturing [3326]',
       'Machine shops, turned product, and screw, nut and bolt manufacturing [3327]',
       'Coating, engraving, cold and heat treating and allied activities [3328]',
       'Cutlery, hand tools and other fabricated metal product manufacturing [332A]',
       'Machinery manufacturing [333]',
       'Agricultural, construction and mining machinery manufacturing [3331]',
       'Industrial, commercial and service industry machinery manufacturing [333A]',
       'Industrial machinery manufacturing [3332]',
       'Commercial and service industry machinery manufacturing [3333]',
       'Ventilation, heating, air-conditioning and commercial refrigeration equipment manufacturing [3334]',
       'Metalworking machinery manufacturing [3335]',
       'Engine, turbine and power transmission equipment manufacturing [3336]',
       'Other general-purpose machinery manufacturing [3339]',
       'Computer and electronic product manufacturing [334]',
       'Computer and peripheral equipment manufacturing [3341]',
       'Communications equipment manufacturing [3342]',
       'Semiconductor and other electronic component manufacturing [3344]',
       'Other electronic product manufacturing [334A]',
       'Electrical equipment, appliance and component manufacturing [335]',
       'Electric lighting equipment manufacturing [3351]',
       'Household appliance manufacturing [3352]',
       'Electrical equipment manufacturing [3353]',
       'Other electrical equipment and component manufacturing [3359]',
       'Transportation equipment manufacturing [336]',
       'Motor vehicles and parts manufacturing [336Y]',
       'Motor vehicle manufacturing [3361]',
       'Automobile and light-duty motor vehicle manufacturing [33611]',
       'Heavy-duty truck manufacturing [33612]',
       'Motor vehicle body and trailer manufacturing [3362]',
       'Motor vehicle parts manufacturing [3363]',
       'Motor vehicle gasoline engine and engine parts manufacturing [33631]',
       'Motor vehicle electrical and electronic equipment manufacturing [33632]',
       'Motor vehicle steering and suspension components (except spring) manufacturing [33633]',
       'Motor vehicle brake system manufacturing [33634]',
       'Motor vehicle transmission and power train parts manufacturing [33635]',
       'Motor vehicle seating and interior trim manufacturing [33636]',
       'Motor vehicle metal stamping [33637]',
       'Other motor vehicle parts manufacturing [33639]',
       'Aerospace product and parts manufacturing [3364]',
       'Railroad rolling stock manufacturing [3365]',
       'Ship and boat building [3366]',
       'Other transportation equipment manufacturing [3369]',
       'Furniture and related product manufacturing [337]',
       'Household and institutional furniture and kitchen cabinet manufacturing [3371]',
       'Office furniture (including fixtures) manufacturing [3372]',
       'Other furniture-related product manufacturing [3379]',
       'Miscellaneous manufacturing [339]',
       'Medical equipment and supplies manufacturing [3391]',
       'Other miscellaneous manufacturing [3399]', 'Wholesale trade [41]',
       'Farm product merchant wholesalers [411]',
       'Petroleum and petroleum products merchant wholesalers [412]',
       'Food, beverage and tobacco merchant wholesalers [413]',
       'Personal and household goods merchant wholesalers [414]',
       'Motor vehicle and motor vehicle parts and accessories merchant wholesalers [415]',
       'Building material and supplies merchant wholesalers [416]',
       'Machinery, equipment and supplies merchant wholesalers [417]',
       'Miscellaneous merchant wholesalers [418]',
       'Business-to-business electronic markets, and agents and brokers [419]',
       'Retail trade [44-45]', 'Motor vehicle and parts dealers [441]',
       'Furniture and home furnishings stores [442]',
       'Electronics and appliance stores [443]',
       'Building material and garden equipment and supplies dealers [444]',
       'Food and beverage stores [445]',
       'Health and personal care stores [446]', 'Gasoline stations [447]',
       'Clothing and clothing accessories stores [448]',
       'Sporting goods, hobby, book and music stores [451]',
       'General merchandise stores [452]',
       'Miscellaneous store retailers [453]',
       'Miscellaneous store retailers (except cannabis) [453A]',
       'Cannabis stores [453B]', 'Cannabis stores (unlicensed) [453BU]',
       'Miscellaneous store retailers (except unlicensed cannabis) [453X]',
       'Non-store retailers [454]',
       'Retail trade (except cannabis) [4AA]',
       'Retail trade (except unlicensed cannabis) [4AZ]',
       'Transportation and warehousing [48-49]',
       'Air transportation [481]', 'Rail transportation [482]',
       'Water transportation [483]', 'Truck transportation [484]',
       'Transit, ground passenger and scenic and sightseeing transportation [48Z]',
       'Urban transit systems [4851]',
       'Taxi and limousine service [4853]',
       'Other transit and ground passenger transportation and scenic and sightseeing transportation [48A]',
       'Support activities for transportation [488]',
       'Pipeline transportation [486]',
       'Pipeline transportation of natural gas [4862]',
       'Crude oil and other pipeline transportation [486A]',
       'Postal service, couriers and messengers [49A]',
       'Postal service [491]', 'Couriers and messengers [492]',
       'Warehousing and storage [493]',
       'Information and cultural industries [51]',
       'Publishing industries [511]',
       'Newspaper, periodical, book and directory publishers [5111]',
       'Newspaper publishers [51111]',
       'Periodical, book and directory publishers [5111A]',
       'Software publishers [5112]',
       'Motion picture and sound recording industries [512]',
       'Motion picture and video exhibition [51213]',
       'Motion picture and video industries (except exhibition) [5121A]',
       'Sound recording industries [5122]',
       'Broadcasting (except Internet) [515]',
       'Radio and television broadcasting [5151]',
       'Pay and specialty television [5152]', 'Telecommunications [517]',
       'Data processing, hosting, and related services [518]',
       'Other information services [519]',
       'Pay and specialty television, telecommunications and other information services [51A]',
       'Finance and insurance [52]',
       'Credit intermediation and monetary authorities [52X]',
       'Monetary authorities - central bank [521]',
       'Credit intermediation and related activities [522]',
       'Depository credit intermediation [5221]',
       'Local credit unions [52213]',
       'Banking and other depository credit intermediation [5221A]',
       'Non-depository credit intermediation and activities related to credit intermediation [522A]',
       'Non-depository credit intermediation [5222]',
       'Activities related to credit intermediation [5223]',
       'Insurance carriers and related activities [524]',
       'Insurance carriers [5241]',
       'Agencies, brokerages and other insurance related activities [5242]',
       'Financial investment services, funds and other financial vehicles [52A]',
       'Depository credit intermediation and monetary authorities [52B]',
       'Real estate and rental and leasing [53]', 'Real estate [531]',
       'Lessors of real estate [5311]',
       'Owner-occupied dwellings [5311A]',
       'Offices of real estate agents and brokers and activities related to real estate [531A]',
       'Rental and leasing services [532]',
       'Automotive equipment rental and leasing [5321]',
       'Rental and leasing services (except automotive equipment) [532A]',
       'Lessors of non-financial intangible assets (except copyrighted works) [533]',
       'Rental and leasing services (except automotive equipment) and lessors of non-financial intangible assets (except copyrighted works) [53A]',
       'Professional, scientific and technical services [54]',
       'Legal, accounting and related services [541A]',
       'Legal services [5411]',
       'Accounting, tax preparation, bookkeeping and payroll services [5412]',
       'Architectural, engineering and related services [5413]',
       'Other professional, scientific and technical services including scientific research and development [541B]',
       'Specialized design services [5414]',
       'Management, scientific and technical consulting services [5416]',
       'Scientific research and development services [5417]',
       'Other professional, scientific and technical services [5419]',
       'Computer systems design and related services [5415]',
       'Advertising, public relations, and related services [5418]',
       'Management of companies and enterprises [55]',
       'Administrative and support, waste management and remediation services [56]',
       'Administrative and support services [561]',
       'Other administrative and support services [561B]',
       'Office administrative services [5611]',
       'Employment services [5613]', 'Business support services [5614]',
       'Facilities and other support services [561A]',
       'Travel arrangement and reservation services [5615]',
       'Investigation and security services [5616]',
       'Services to buildings and dwellings [5617]',
       'Waste management and remediation services [562]',
       'Educational services [61]', 'Universities [6113]',
       'Educational services (except universities) [611B]',
       'Elementary and secondary schools [6111]',
       'Community colleges and C.E.G.E.P.s [6112]',
       'Other educational services [611A]',
       'Health care and social assistance [62]', 'Health care [62X]',
       'Ambulatory health care services [621]',
       'Offices of physicians [6211]', 'Offices of dentists [6212]',
       'Miscellaneous ambulatory health care services [621A]',
       'Hospitals [622]', 'Nursing and residential care facilities [623]',
       'Social assistance [624]',
       'Arts, entertainment and recreation [71]',
       'Performing arts, spectator sports and related industries, and heritage institutions [71A]',
       'Amusement, gambling and recreation industries [713]',
       'Gambling industries [7132]',
       'Amusement and recreation industries [713A]',
       'Accommodation and food services [72]',
       'Accommodation services [721]', 'Traveller accommodation [7211]',
       'Recreational vehicle (RV) parks, recreational camps, and rooming and boarding houses [721A]',
       'Food services and drinking places [722]',
       'Other services (except public administration) [81]',
       'Repair and maintenance [811]',
       'Automotive repair and maintenance [8111]',
       'Repair and maintenance (except automotive) [811A]',
       'Personal services and private households [81A]',
       'Personal and laundry services [812]', 'Funeral services [8122]',
       'Dry cleaning and laundry services [8123]',
       'Personal care services and other personal services [812A]',
       'Private households [814]',
       'Religious, grant-making, civic, and professional and similar organizations [813]',
       'Religious organizations [8131]',
       'Grant-making, civic, and professional and similar organizations [813A]',
       'Public administration [91]',
       'Federal government public administration [911]',
       'Defence services [9111]',
       'Federal government public administration (except defence) [911A]',
       'Provincial and territorial public administration [912]',
       'Local, municipal, regional and aboriginal public administration [91A]',
       'Local, municipal and regional public administration [913]',
       'Aboriginal public administration [914]',
       'Cannabis stores (licensed) [453BL]'], dtype=object)

In [218]:
len(unique_NAICS)

337

## Function to drop any subsectors (or total of sectors)

In [219]:
naics_sector_codes = [
    "[11]", "[21]", "[22]", "[23]", "[31-33]", "[42]", "[44-45]", "[48-49]", "[51]",
    "[52]", "[53]", "[54]", "[55]", "[56]", "[61]", "[62]", "[71]", "[72]", "[81]", "[91]"
]
def is_sector(naics):
    return naics.split()[-1] in naics_sector_codes

## Create an updated df that only contains NAICS sectors (with codes)

In [220]:
updated_df = df.drop(df[~df['NAICS'].apply(is_sector)].index)

In [221]:
updated_df = updated_df.reset_index(drop=True)

In [222]:
updated_df

     Date                                              NAICS         Value
0    2000    Agriculture, forestry, fishing and hunting [11]   23120000000
1    2000  Mining, quarrying, and oil and gas extraction ...   58615000000
2    2000                                     Utilities [22]   26770000000
3    2000                                  Construction [23]   51054000000
4    2000                              Manufacturing [31-33]  188303000000
..    ...                                                ...           ...
394  2020             Health care and social assistance [62]  168768000000
395  2020            Arts, entertainment and recreation [71]   11842000000
396  2020               Accommodation and food services [72]   31073000000
397  2020  Other services (except public administration) ...   39930000000
398  2020                         Public administration [91]  158772000000

[399 rows x 3 columns]

In [223]:
updated_df['NAICS'].unique()

array(['Agriculture, forestry, fishing and hunting [11]',
       'Mining, quarrying, and oil and gas extraction [21]',
       'Utilities [22]', 'Construction [23]', 'Manufacturing [31-33]',
       'Retail trade [44-45]', 'Transportation and warehousing [48-49]',
       'Information and cultural industries [51]',
       'Finance and insurance [52]',
       'Real estate and rental and leasing [53]',
       'Professional, scientific and technical services [54]',
       'Management of companies and enterprises [55]',
       'Administrative and support, waste management and remediation services [56]',
       'Educational services [61]',
       'Health care and social assistance [62]',
       'Arts, entertainment and recreation [71]',
       'Accommodation and food services [72]',
       'Other services (except public administration) [81]',
       'Public administration [91]'], dtype=object)

## Check if there are any naics duplicates

In [224]:
duplicated = updated_df.duplicated(subset=['Date', 'NAICS'], keep=False)
duplicated.any()

False

## Map NAICS to employment NAICS (Merge NAICS with codes 51, 71 together as well as 55, 56)

In [225]:
#Merge NAICS [51], [71] along with [55], [56] and rename NAICS sector
updated_df['NAICS'].replace({'Arts, entertainment and recreation [71]': 'Information and cultural industries [51]'}, inplace=True)

updated_df['NAICS'].replace({'Administrative and support, waste management and remediation services [56]': 'Management of companies and enterprises [55]'}, inplace=True)


df_grouped = updated_df.groupby(['Date', 'NAICS'], as_index=False)['Value'].sum()

df_grouped.loc[df_grouped['NAICS'] == 'Information and cultural industries [51]', 'NAICS'] = 'Information, culture and recreation [51, 71]'
df_grouped.loc[df_grouped['NAICS'] == 'Management of companies and enterprises [55]', 'NAICS'] = 'Business, building and other support services [55, 56]'

In [226]:
df_grouped

     Date                                            NAICS         Value
0    2000             Accommodation and food services [72]   22863000000
1    2000  Agriculture, forestry, fishing and hunting [11]   23120000000
2    2000                                Construction [23]   51054000000
3    2000                        Educational services [61]   51839000000
4    2000                       Finance and insurance [52]   62648000000
..    ...                                              ...           ...
352  2020                       Public administration [91]  158772000000
353  2020          Real estate and rental and leasing [53]  293886000000
354  2020                             Retail trade [44-45]  106641000000
355  2020           Transportation and warehousing [48-49]   95339000000
356  2020                                   Utilities [22]   50976000000

[357 rows x 3 columns]

In [227]:
df_grouped['Value'].min()

21052000000

## Check if any values are 0

In [228]:
df_grouped[df_grouped['Value'] == 0]

Empty DataFrame
Columns: [Date, NAICS, Value]
Index: []

# Binning the Dataframe

In [229]:
bin_edges = pd.cut(df_grouped['Value'], bins=10, retbins=True)[1]
bin_edges = np.ceil(bin_edges / 1e9) * 1e9
df_grouped['Value Binned'] = pd.cut(df_grouped['Value'], bins=bin_edges)
df_grouped

,Date,NAICS,Value,Value Binned
0,2000,Accommodation and food services [72],22863000000,"(21000000000.0, 49000000000.0]"
1,2000,"Agriculture, forestry, fishing and hunting [11]",23120000000,"(21000000000.0, 49000000000.0]"
2,2000,Construction [23],51054000000,"(49000000000.0, 76000000000.0]"
3,2000,Educational services [61],51839000000,"(49000000000.0, 76000000000.0]"
4,2000,Finance and insurance [52],62648000000,"(49000000000.0, 76000000000.0]"
...,...,...,...,...
352,2020,Public administration [91],158772000000,"(158000000000.0, 185000000000.0]"
353,2020,Real estate and rental and leasing [53],293886000000,"(267000000000.0, 294000000000.0]"
354,2020,Retail trade [44-45],106641000000,"(103000000000.0, 131000000000.0]"
355,2020,Transportation and warehousing [48-49],95339000000,"(76000000000.0, 103000000000.0]"
356,2020,Utilities [22],50976000000,"(49000000000.0, 76000000000.0]"

## Export the updated dataframe to CSV

In [230]:
df_grouped.to_csv('data/cleaned_gdp.csv', index=False)