In [ ]:
# Data Staging for GDP Data

In [ ]:
## Importing Libraries and Reading the Data

In [248]:
import pandas as pd

In [249]:
df = pd.read_csv('data/gdp.csv')

In [ ]:
## Previewing the Dataset

In [250]:
df.head()

,REF_DATE,GEO,DGUID,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1997,Canada,2016A000011124,All industries [T001],Dollars,81,millions,6,v64605602,1.1,840500,NaN,NaN,NaN,0
1,1997,Canada,2016A000011124,Goods-producing industries [T002],Dollars,81,millions,6,v64605713,1.2,269364,NaN,NaN,NaN,0
2,1997,Canada,2016A000011124,Service-producing industries [T003],Dollars,81,millions,6,v64605824,1.3,571136,NaN,NaN,NaN,0
3,1997,Canada,2016A000011124,Industrial production [T010],Dollars,81,millions,6,v64605841,1.4,205651,NaN,NaN,NaN,0
4,1997,Canada,2016A000011124,Non-durable manufacturing industries [T011],Dollars,81,millions,6,v64605852,1.5,60046,NaN,NaN,NaN,0

In [ ]:
## Unique Values in Each Column

In [251]:
unique_values = df[['GEO', 'DGUID', 'UOM', 'UOM_ID','SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR' , 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']].apply(lambda x: x.unique())
unique_values

GEO                                                       [Canada]
DGUID                                             [2016A000011124]
UOM                                                      [Dollars]
UOM_ID                                                        [81]
SCALAR_FACTOR                                           [millions]
SCALAR_ID                                                      [6]
VECTOR           [v64605602, v64605713, v64605824, v64605841, v...
COORDINATE       [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, ...
VALUE            [840500, 269364, 571136, 205651, 60046, 85467,...
STATUS                                                       [nan]
SYMBOL                                                       [nan]
TERMINATED                                                   [nan]
DECIMALS                                                       [0]
dtype: object

In [ ]:
## Dropping Unnecessary Columns

In [252]:
df = df.drop(columns=['GEO', 'DGUID', 'UOM', 'UOM_ID', 'SCALAR_FACTOR',  'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS', 'SYMBOL', 'SYMBOL', 'TERMINATED', 'DECIMALS'])

In [253]:
df.head()

   REF_DATE North American Industry Classification System (NAICS)   VALUE
0      1997                              All industries [T001]     840500
1      1997                  Goods-producing industries [T002]     269364
2      1997                Service-producing industries [T003]     571136
3      1997                       Industrial production [T010]     205651
4      1997        Non-durable manufacturing industries [T011]      60046

In [ ]:
## Examining Data Types

In [254]:
df.dtypes

REF_DATE                                                  int64
North American Industry Classification System (NAICS)    object
VALUE                                                     int64
dtype: object

In [ ]:
## Renaming Columns for Clarity and Simplicity

In [255]:
df = df.rename(columns={'REF_DATE': 'Date', 'North American Industry Classification System (NAICS)': 'NAICS'})

In [256]:
df.head()

   Date                                        NAICS   VALUE
0  1997                        All industries [T001]  840500
1  1997            Goods-producing industries [T002]  269364
2  1997          Service-producing industries [T003]  571136
3  1997                 Industrial production [T010]  205651
4  1997  Non-durable manufacturing industries [T011]   60046

In [ ]:
## Checking for Missing Values

In [266]:
df['Date'].isnull().unique()

array([False])

In [267]:
df['NAICS'].isnull().unique()

array([False])

In [268]:
df['VALUE'].isnull().unique()

array([False])

In [ ]:
## Filtering Date to Start from 2000

In [261]:
df = df[df['Date'] >= 2000]

In [269]:
df.head()

      Date                                        NAICS    VALUE
1008  2000                        All industries [T001]  1027444
1009  2000            Goods-producing industries [T002]   347862
1010  2000          Service-producing industries [T003]   679582
1011  2000                 Industrial production [T010]   275215
1012  2000  Non-durable manufacturing industries [T011]    72315

In [ ]:
## Reset indeces

In [270]:
df.reset_index(drop=True, inplace=True)

In [273]:
df

      Date                                              NAICS    VALUE
0     2000                              All industries [T001]  1027444
1     2000                  Goods-producing industries [T002]   347862
2     2000                Service-producing industries [T003]   679582
3     2000                       Industrial production [T010]   275215
4     2000        Non-durable manufacturing industries [T011]    72315
...    ...                                                ...      ...
7054  2020  Federal government public administration (exce...    42564
7055  2020  Provincial and territorial public administrati...    40664
7056  2020  Local, municipal, regional and aboriginal publ...    60291
7057  2020  Local, municipal and regional public administr...    54541
7058  2020             Aboriginal public administration [914]     5750

[7059 rows x 3 columns]